.up {
  padding: 10px;
  font-size: 20px;
  background-color: #a234f0e8;
  border-radius: 15px 15px 0 15px;
  color: white;
}

.down {
  padding: 3px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.down span {
  font-size: 12px;
}

hr {
  width: 35%;
  margin-bottom: 15px;
  position: relative;
  left: 60%;
}

.down button {
  margin: 5px;
  color: #000000d2;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
